apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongodbpvc
  namespace: chat-app
spec:
  accessModes:
    - ReadWriteOnce
  resources: 
    requests: 
      storage: 5Gi


  